<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>licenses</key>
	<array>
		<data>cwsEn7HsV/nC28UxJkh2BGwu2Ky0F78Ro5ochiR9LYigezTuJ9clhe+TuB4UqbFa5TfoK9bwJQmP37+tfgVAb83o0QoJqeqARtksmRVtmZ0OwSVpTB2jH9A0iofNrXWjXKRopfNKuakAOfj9aevOXqvtMlRBpGuMIPMZI8U2suM=</data>
		<data>Y3wKLo0o6uo9V7YTW2jC8wNfxb35+mVB9/gjGwn8HV68+boYbZGQ5QxqCqtdeaP7fIspH3a/q5PLRvuR/KlO9MOPgfIl5u38wboOHynFF6Fy62AcRv9PqVztHuZwAhbgBYOgGMleVA8OCMN1vmY2EYR3utNae2c9L71+yE30upw=</data>
		<data>V3YsYdr/WpXD1dVEdgM6akI/Q8wdzT8wtTqc6mxj1MTxHYUCHWTyKsVXMD9Wcd+1CrKapyySXOuUn+f/jziX60njHQxSDdJMeJcLFFuy3piZ+1B7qIIUJ3AVuxvYnEXY9iL83dGIzXZGnLiNlCqKdMhUda13XaskLohwJkYv1Ew=</data>
		<data>XBKZdriDV8Yj/RrECErRGqlc95X7f/UlRQfgsE7cjdHbOjr2YzJXFmuhOex2uvr1rSOGTP1NVgoWR9YJc4bof4q+ckhvC/I2hCPeOy5eafBmVOWKfxxEnEcE5tj4x6IDuzGKat6QaXnVuG8EXBnCAJ7zZlhaSwPSI33YfRlQOx0=</data>
		<data>Yz2TgfLZNenIdDU9OZ6TzbkKTySyoLgY0qjf0XwSwBxW10mdaph5sTtbWUs+5KzHYMo45gCLXtuquTDy09XUmpRtdN1re50ucYOMpEiqXx4b7d5ER0Gx2tKcCONFyFLzZho3UhhEVeYIcSbIK6Bm/WoMTFRxeK9YHs28nxwGVaA=</data>
		<data>eHL/E/30FEKOIHMy9PTf8ywUQNQ7lYG+gpWvA2vodEO8q/O3mrNw4Jmbo5x+5cUrO1wGlDPWDYMtuImLZU05UjrIEOfhax9y9QtVylUbtRgKojZSQIUC9rMkfnVdLPOKoH+hr/CUeg6PwxhxKK9voeE0n49xvQLNiKzC+kLI3Ro=</data>
		<data>KemsJzM/NGhiQNArZWAx/lqUQG6P0oVDMSpar97pgKu9y2jj0JXqREfgOn6r5nsiW2WGLd9FsM9nbcP1AzQcpcdafyUaNqtgJzXq8tdwZkAGitMMKPAy1D26mY24uNObOgvl/OLHLD0rwMTHRzEFSd2mKgVZyUuw2GURADZn6+8=</data>
		<data>I8nvxo4V2r1YeM6CjsJa6SL2M+WZxE2fvp233hIh4Ieg2AkDIutwnn0elpmYcirKnTvQKc67RafNPKwBbcXH7jG+SYnxZgtHw6EUnFOK2X5n58ZiF6Sl4vAjGmkYNtXnf345Q2oxmly+ZA5kznr8UrFXVaTXbsvaDoZ5dmdSv18=</data>
		<data>dsnOoslw1ct2NWlkAm5ZIaPMIwpRiurAUTYBhFTw4QkXvjSU0rXaXlg720dC7AwU07JUeJIQobSKkypjlB9txgFpYvnggx50DF+wxrZ8APSUatFCL5gWuZydP4KSVqkad8qyUjQQk9hn3v/j0b9zRxBIEhZbA3dORcyIRJPd1Tc=</data>
		<data>f6H6vkO4FE6UmxAG5RxLR2dm4FIM+DQBZ/1mB2QB+rojd3hygpdZ6l8XGbyMG7cjHFnwpkscr+ngkcCD4zOqDYN1yKYm6wy2jG7xxKECiXlRwBGj/J/FDk/pvxTI3SfvqwFjqVIHE37FA5eLgGPgTGBmz0DijD0DUXzjGAWSXBY=</data>
	</array>
</dict>
</plist>
